<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="App.css">
  <link rel="stylesheet" href="index.css">
  <title>My book's game</title>
</head>

<body>
  <div class="App" id="VueJS">
    <header>

      <div class="glory">Слава 0</div>
      <div class="money">Деньги {{cutback(money) }}</div>
      <div class="lavale">Lvl 1</div>
    </header>
    <div class="settings">
      <h1 style="font-size: 20px; text-align: center;">Настройки/ статистика</h1><br>
      {{cutback(damagePerSecond())}} - damagePerSecond<BR>
      {{cutback(moneyPerSecond())}} - moneyPerSecond<BR>

      <button @click="gameSave()">Сохранить игру</button>
      <button @click="gameLoad()">Загрузить игру</button>
      Автосохранение(не раб.)

      <input type="checkbox" id="checkbox" v-model="autoSave">
      <label for="checkbox">{{ autoSave }}</label>
      <br>
      Next monstr
      <input type="checkbox" id="checkboxis" v-model="isNextMonstor">
      <label for="checkboxis">{{ isNextMonstor }}</label>
    </div>

    <main>
      <div class="monstersName">
        <h2>Уровень монстра {{ monstorLVL }} {{partMostorsView()}}</h2>
      </div>
      <div class="monstrsHealPoints progressBar ">
        <div :style="[styles.progressBarMostor,proc()]">{{Math.round(monstorHPcounter)}} из {{ thisMonstorHP }} hp</div>
      </div>
      <div class="bossesTimer progressBar progressBar-grean">
        <div :style="[styles.progressBarMostor,bossTimerDecrease()]">{{bossTimer/ 100}}
        </div>
      </div>
      <div class="clickZone" @click="clickDamage"></div>
    </main>


    <aside>

      <h1 style="font-size: 20px; text-align: center;">Ваши преобретения</h1>


      <div class="tabs__links">
        <div v-bind:class="{ tabs__links_activ: isDamage }" @click="tabFactorySelect('damage')">Урон</div>
        <div v-bind:class="{ tabs__links_activ: !isDamage }" @click="tabFactorySelect('factory')">Предприятия</div>
      </div>


      <div class="factory" v-for="(index, i) in  factoryListGeneration">
        <div class="factoryName">{{ index.name }}</div>
        <div class="price" @click="buyFactory(i)"> {{ cutback(factoryListGeneration[i].nowCost) }} </div>
        <div class="damage">{{index.text.profit}}: {{ cutback(factorydamage( index.profit, index.quantity))}}</div>
        <div class="quantity">{{index.text.quantity}}:{{index.quantity}}</div>
      </div>
    </aside>
    <footer>Футтер </footer>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>